body {
   background: purple;
   color: white;
   margin: 0px;
   font-family: "UoqMunThenKhung", serif;

}

header{
    border-bottom: solid 10px black;
    padding: 20px;
    font-size: 32px;
    color: greenyellow
 }

section {
  background: black;
  padding-top: 80px;
  padding-bottom: 80px;
  display:flex;
  justify-content: center;

}

.chamada-teto {
  margin-right: 5%;
  
  


}
